body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: ivory;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vh;
    background-color:aquamarine;
    border-radius: 10px;
}

.container p{
    width: 60%;
    font-family: sans-serif;
    font-style: italic;
    font-size: 0.9em;
}

.dictionary{
    font-style: normal;
    font-weight: 700;
}

input{
    background-color: ivory;
}

/*#result{
    visibility: hidden;
}*/